.book-shelf {
    width: 70%;
    height: 700px;
    background-color: #412722;
    margin: 50px auto;
    position: relative;
    border: 10px solid #2d1a19;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

p{
    margin-top: -10px;
    margin-bottom: 50px;
}


.shelf {
    width: 700px;
    height: 20px;
    background-color: #2d1a19;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 90px 0;
    box-shadow: 0px 10px 20px #2d1a19;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.book {
    width: 30px;
    height: 80px;
    background-color: #8b5e3c;
    border-radius: 3px;
    box-shadow: 0 2px 5px #412722;
    position: relative;
    bottom: 20px;
    margin: 0 -120px;
} 

.book1 {
    height: 100px;
    background-color: #774119;
}

.book2 {
    height: 100px;
    background-color: #d19a6a;
}

.book3 {
    height: 60px;
    background-color: #a86e52;
}